---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="google-site-verification"
      content="FrBvFHD_VQhhcQnnEw6-u18f2l8_fHq0jlGLja56D2M"
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <script type="module" src={`${import.meta.env.BASE_URL}image-zoom.js`}
    ></script>
    <script type="module" src={`${import.meta.env.BASE_URL}copy-button.js`}
    ></script>
    <Footer />
  </body>
</html>
